@import url(./_type_save/popup__button_type_save.css);

.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  color: rgba(0, 0, 0, .2);
  font-size: 36px;
}
