.user-info__photo {
  width: 150px;
  height: 150px;
  min-width: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  /*background-image: url(../../../images/avatar.jpg);*/
  transition: .2s;
}

.user-info__photo:hover {
  opacity: .5;
}

@media screen and (max-width: 980px) {
  .user-info__photo {
    margin-top: 40px;
  }
}
