.user-info__edit-button {
  margin-top: 24px;
  width: 38px;
  height: 18px;
  font-size: 12px;
  line-height: 15px;
}

.user-info__edit-button:hover {
  background-color: white;
  color: black;
  transition: .3s;
}

@media screen and (max-width: 980px) {
  .user-info__edit-button {
    margin-left: 163px;;
    margin-bottom: 40px;
    width: 38px;
    height: 18px;
  }
}
